<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="py" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\pjrio\AppData\Local\Programs\Python\Python311\python.exe %s %s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
